@import url("../style/font.css");
/* ref: https://docs.microsoft.com/en-us/previous-versions/windows/desktop/bb226804(v=vs.85) */

/* BASE COLOR */
:root {
  --white: #ffffff;
  --gray-100: #dfdfdf;
  --gray-200: #c0c0c0;
  --gray-300: #808080;
  --gray-900: #0a0a0a;
}

:root {
  /* BORDER */
  --border-width: 1px;
  --border-raised-outer: inset -1px -1px var(--gray-900),
    inset 1px 1px var(--white);
  --border-raised-inner: inset -2px -2px var(--gray-300),
    inset 2px 2px var(--gray-100);
  --border-sunken-outer: inset -1px -1px var(--white),
    inset 1px 1px var(--gray-900);
  --border-sunken-inner: inset -2px -2px var(--gray-100),
    inset 2px 2px var(--gray-300);

  /* BOX SHADOW */
  --bar-shadow: inset -1px -1px var(--gray-900), inset 1px 1px var(--gray-100),
    inset -2px -2px var(--gray-300), inset 2px 2px var(--white);
  --button-shadow: var(--border-raised-outer), var(--border-raised-inner);
}

/* Style */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "MS Sans Serif";
}

body {
  width: 100%;
  height: 100vh;
  background-color: #038080;
}

li {
  list-style: none;
}

hr {
  margin: 4px 0;
}

/* button */
button {
  padding: 0 12px;
  background-color: var(--gray-200);
  border: none;
  border-radius: 0;
  box-shadow: var(--button-shadow);
}

/* window */
.window {
  /* centering window */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  transform: translate(-50%, -50%);
  cursor: move;
}

/* cursor: close button */
.window .title-bar-controls button:nth-child(3) {
  cursor: pointer;
}

/* startup */
.startup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.hide {
  display: none;
}

.startup img {
  width: 100%;
  height: 100vh;
  transition: width 2500ms ease-in-out;
}

/* taskbar */
#taskbar {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  /* height: 6vh; */
  padding: 3px;
  background-color: #c0c0c0;
  box-shadow: var(--bar-shadow);
}

#taskbar button div {
  display: flex;
  align-items: center;
  height: 32px;
}

#taskbar button:first-child {
  font-size: 1.1em;
  font-weight: bold;
}

#taskbar button:first-child div::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 0.5em;
  background-image: url(../assets/images/windows.png);
  background-size: 20px 20px;
}

#taskbar button:nth-child(2) div::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 1em;
  background-image: url(../assets/images/windows_slanted.png);
  background-size: 25px 25px;
}

#taskbar button:last-child div::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url(../assets/images/time_date.png);
  background-size: 22px 22px;
  margin-right: 1em;
}

/* running-app */
.taskbar-running-app button#run-app {
  height: 32px;
  font-size: 1em;
  font-weight: normal;
}

/* clock */
button#date-time {
  position: fixed;
  right: 5px;
  box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
}

.js-clock {
  display: flex;
  align-items: center;
}

/* clock */
#date-time h1 {
  font-size: 1.2em;
  font-weight: 500;
}

/* responsive */
@media screen and (max-width: 768px) {
  #taskbar button:nth-child(2) {
    display: none;
  }

  .icon-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
