.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background: rgba(27, 12, 12, 0.5);
}

.clicked {
  display: block;
}
