@import url("paint-colors.css");

/* Paint Icon */
#paint {
  margin: 15px;
  cursor: pointer;
  text-align: center;
}

#paint strong::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-left: -0.3em;
  margin-bottom: 0.5em;
  background-image: url(../assets/paint.png);
  background-size: 50px 50px;
}

.window.paint-app {
  width: 420px;
}

/* Paint */
.paint-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  width: 100%;
  height: 100vh;
}

.paint-container.open_paint {
  display: block;
}

.paint-container.window-body {
  height: 10vh;
}

.paint-container .header-menu {
  margin-bottom: 0.5em;
}

.canvas {
  width: 350px;
  height: 350px;
  background-color: var(--paint-white);
  box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
}

.colors {
  margin-left: 47px;
}

.colors .color {
  width: 15px;
  height: 15px;
  cursor: pointer;
  box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
}

.tools {
  width: 40px;
}

.tools button {
  min-width: 35px;
  width: 35px;
}

.tool.button_clicked {
  box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
}

.tool.line {
  background-image: url(../assets/line.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2em 1.25em;
}

.tool.pencil {
  background-image: url(../assets/pencil.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2em 1.25em;
}

.tool.eraser {
  background-image: url(../assets/eraser.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.7em 1.3em;
}
