.window.editor-app {
  width: 500px;
}

/* Text Editor */
.editor-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  width: 100%;
  height: 100vh;
}

.editor-container.open {
  display: block;
}

.lists {
  display: flex;
  align-items: flex-start;
  padding: 0;
}

.header-menu li {
  margin-right: 7px;
}

.editor-menu button {
  min-width: 10px;
}

.button-group {
  margin-right: 10px;
}

/* font-size */
.button-group:first-child select {
  min-width: 15px;
}

.button-group:nth-child(2) select {
  min-width: 10px;
}

#text-field {
  width: 477px;
  height: 300px;
  background-color: white;
}
