/* Todo List */
.todo-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  width: 100%;
  height: 100vh;
}

.todo-container.open {
  display: block;
}

.todo-lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
}

.todo-list {
  list-style: none;
}

.deleteBtn {
  margin-left: 0.3em;
  cursor: pointer;
}

/* Todo example */
.todo-example label {
  color: #808080; /* --gray-300 */
}
