/* Todo List */
.todo-lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
}

.todo-list {
  list-style: none;
}

.deleteBtn {
  margin-left: 0.3em;
  cursor: pointer;
}

/* Todo example */
.todo-example label {
  color: #808080; /* --gray-300 */
}
